@import "./variables";
#app {
  font-family: FranklinGothic;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.weather {
  .weather-header {
    background-image: url("./assets/images/Rectangle3.png");
    background-size: cover;
    border-radius: 32px;
    &_navbar {
      display: flex;
      align-items: center;
      &_country {
        width: 50%;
        // display: flex;
        align-items: center;
        &_img {
          img {
            width: 100%;
          }
          // width: 4%;
        }
        &_name {
          // width: 90%;
          color: $dark-green;
          font-size: 70px;
        }
      }
      &_degree {
        width: 50%;
        font-size: 50px;
        .active {
          color: $white;
          text-shadow: 0px 3px 6px #00000029;
        }
      }
    }
    &_temp {
      &_details {
        background-color: $light-green;
        width: 23%;
        padding: 0.5% !important;
        padding-left: 4% !important;
        padding-right: 2% !important;
        position: relative;
        left: -7%;
        &_text {
          p {
            color: $off-white;
          }
        }
      }
    }
  }
  .weather-body {
    &_forecast-days-header {
      color: $light-green;
      span {
        color: $dark-green;
      }
    }
    &_forecast-days-content {
      &_card-img {
      }
      &_card-details {
        color: $light-green;
        .date {
          color: $dark-green;
        }
        &_image {
          position: relative;
        }
      }
    }
    &_locations-temp {
      &_top-content {
        margin-top: -30%;
      }
      &_cards {
        position: relative;
        background-color: $white;
      }
      &_card-details {
        &_image {
          img {
            width: 10%;
          }
        }
        &_name {
          &_degree {
            color: $light-green;
          }
          &_wind {
            font-size: 12px;
            color: $gray;
          }
        }
      }
      &_card-img {
        position: relative;
        bottom: 23px;

        &_icon {
          position: absolute;
          top: 30%;
          left: 53%;
          transform: translate(-50%);
          box-shadow: $icon-shadow;
        }
      }

      &_bottom-content {
        background-image: url("./assets/images/Rectangle7.png");
        background-color: transparent;
        background-size: cover;
        .card {
          background-color: transparent;
        }
        h3 {
          color: $white;
        }
        &_card-details {
          padding: 15%;
        }
      }
    }
  }
}
.rotated {
  background-color: $dark-green;
  width: 20px;
  transform: rotate(20deg);
  height: 43px;
  position: relative;
  padding: 0.5% !important;
  padding-left: 4% !important;
  padding-right: 2% !important;
  position: relative;
  left: -6.5%;
  top: -28px;
  bottom: 100%;
  z-index: -2;
}
main {
  width: 90%;
  margin: auto;
}
.card {
  box-shadow: $card-shadow;
  border-radius: 32px;
}
.forecast-card {
  box-shadow: $card-shadow;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 15%;
}
#clock-body {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 10px solid $clock-border;
}
#center,
#seconds,
#minutes,
#hours {
  position: absolute;
  background-color: $clock-border;
  backface-visibility: hidden;
  outline: 1px solid transparent;
}
#center {
  z-index: 4;
  height: 3%;
  width: 3%;
  top: 50%;
  margin-top: -1.5%;
  left: 50%;
  margin-left: -1.5%;
  border-radius: 100%;
  border: 3px solid $clock-border;
}
#seconds {
  z-index: 1;
  left: 50%;
  margin-left: -0.3%;
  bottom: 50%;
  width: 0.6%;
  height: 49%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  transform-origin: bottom;
}
#minutes {
  z-index: 2;
  left: 50%;
  margin-left: -0.7%;
  bottom: 50%;
  width: 1.4%;
  height: 47%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  transform-origin: bottom;
}
#hours {
  z-index: 3;
  left: 50%;
  margin-left: -0.7%;
  bottom: 50%;
  width: 1.4%;
  height: 36%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform-origin: bottom;
}
.post-wrap {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0; /* vertical center */
  left: 0;
  right: 0; /* horizontal center */
  overflow: hidden;
  padding: 15px;
}
