@import "./../../assets/scss/variables";
.weather-header {
    background-image: url("../../assets/images/Rectangle3.png");
    background-size: cover;
    border-radius: 32px;
    height: 70vh;
    &_navbar {
        display: flex;
        align-items: center;
        &_country {
            width: 50%;
            // display: flex;
            align-items: center;
            &_img {
                img {
                    width: 100%;
                }
                // width: 4%;
            }
            &_name {
                // width: 90%;
                color: $dark-green;
                // font-size: 70px;
            }
        }
        &_degree {
            width: 50%;
            font-size: 50px;
            .active {
                color: $white;
                text-shadow: 0px 3px 6px #00000029;
            }
        }

        &_navbar_degree_span {
            font-size: 45px;
        }
    }
    &_temp {
        &_details {
            background-color: $light-green;
            width: 23%;
            padding: 0.5% !important;
            padding-left: 4% !important;
            padding-right: 2% !important;
            position: relative;
            left: -7%;
            &_icon {
                box-shadow: $icon-shadow;
            }
            &_text {
                p {
                    color: $off-white;
                }
            }
        }
    }
}
.rotated {
    background-color: $dark-green;
    width: 20px;
    transform: rotate(20deg);
    height: 43px;
    position: relative;
    padding: 0.5% !important;
    padding-left: 4% !important;
    padding-right: 2% !important;
    position: relative;
    left: -6.5%;
    top: -28px;
    bottom: 100%;
    z-index: -2;
}
// responsive
@media only screen and (max-width: 800px) {
    .weather-header {
        height: 70vh;
        &_temp_details {
            width: 35%;
            padding: 2% !important;
        }
        .rotated {
            left: -6% !important;
            top: -35px;
        }
        &_navbar_degree {
            font-size: 40px;
        }

        &_navbar_degree_span {
            font-size: 35px;
        }
    }
}
// mobile
@media only screen and (max-width: 430px) {
    .weather-header {
        height: 80vh;
        &_temp_details {
            width: 75%;
            left: -40px;
            margin-top: 13%;
            padding: 3%;
        }
        .rotated {
            left: -6% !important;
            top: -35px;
        }
        &_navbar_degree {
            font-size: 40px;
        }

        &_navbar_degree_span {
            font-size: 35px;
        }
    }
}
