@import "./../../assets/scss/variables";
.clock {
    border:10px solid  $clock-border;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 250px;
    position: relative;
    width: 250px;
    margin: 5vh auto;
}

.hand {
  border: 2px  solid $dark-green;
  height: 40%;
  left: 50%;
  margin-top: -40%;
//   margin-left: -1vh;
  position: absolute;
  top: 50%;
  transform-origin: 50% 100%;
  width: 0;
  transform: rotate(0deg);
}

.hour {
  height: 30%;
  margin-top: -30%;
  border-color:$dark-green;
}

.second {
  border-width: 1px;
  margin-left: -.5vh;
  border-color:$dark-green;
}

.clock:after {
//box-shadow: 0 1vh 1vh rgba(0,0,0,0.3);
  content: '';
  display: block;
  height: 15px;
  width: 15px ;
  border-radius: 50%;
  background: $white;
  box-shadow:$icon-shadow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  left: 50%;
  height: 100%;
  padding-top: .5em;
  text-align: center;
  width: 2em;
  margin-left: -1em;
}
